beautifulsoup4
chromadb
google-generativeai
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langgraph
langgraph-prebuilt
pydantic
pypdf
python-docx
requests
sentence-transformers
transformers
tqdm